.custom-navTab {  
  background-color: var(--bg-tab);  
}

.nav-link {
  color: var(--bg-custom-white);
}

li {
  cursor: pointer;
}

.active-link {
  background-color: var(--bg-body);
  font-weight: bold;
}

li:hover:not(.active-link) {
  background-color: var(--bg-nav-hover);
}
