<section class="custom-navTab">

    <ul class="nav justify-content-start h-100">
        <li class="nav-item" routerLink="/who-is-jotace" routerLinkActive="active-link">
            <a class="nav-link">¿Quién es Jotace?</a>
        </li>
        <li class="nav-item" routerLink="/experience" routerLinkActive="active-link">
            <a class="nav-link">Experiencia</a>
        </li>
        <li class="nav-item" routerLink="/education" routerLinkActive="active-link">
            <a class="nav-link">Estudios</a>
        </li>
        <li class="nav-item" routerLink="/languages" routerLinkActive="active-link">
            <a class="nav-link">Idiomas</a>
        </li>
        <li class="nav-item" routerLink="/technologies" routerLinkActive="active-link">
            <a class="nav-link">Tecnologías</a>
        </li>
    </ul>
</section>