/* GLOBAL STYLES */

/* Custom Body */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "JetBrains Mono", monospace;
  color: var(--custom-white);
  background-color: var(--bg-body);
}
.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

/* Custom Colour Palette */
:root {
  --custom-orange-dark: #e37933;
  --custom-orange-light: #ce9178;
  --custom-blue-dark: #569cd6;
  --custom-blue-light: #9cdcfe;
  --custom-yellow: #d7ab4c;
  --custom-white: #e4e4e4;
  --custom-green: #6a9955;
  --bg-body: #1e1e1e;
  --bg-program-bar: #3c3c3c;
  --bg-lateral-menu: #252526;
  --bg-tab: #2d2d2d;
  --bg-light: #585858;
  --bg-nav-hover: #2d2d2d;
}

/* Custom Color for Fonts */
.custom-dark-orange {
  color: var(--custom-orange-dark);
}
.custom-light-orange {
  color: var(--custom-orange-light);
}
.custom-dark-blue {
  color: var(--custom-blue-dark);
}
.custom-light-blue {
  color: var(--custom-blue-light);
}
.custom-yellow {
  color: var(--custom-yellow);
}
.custom-white {
  color: var(--custom-white);
}
.custom-green {
  color: var(--custom-green);
}

/* Custom FLEX Styles */
.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-center-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
}

/* Custom Position */
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.cursor-pointer {
  cursor: pointer;
}

/* Custom HeaderFonts */
h1,
h2,
h3,
h4,
h5,
p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;  
}
