/* GLOBAL STYLES */

/* Custom Font */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "JetBrains Mono", monospace;
  color: var(--custom-white);
  background-color: var(--bg-body);
}

/* Custom Colour Palette */
:root {
  --custom-orange-dark: #e37933;

  --custom-orange-light: #ce9178;

  --custom-blue-dark: #569cd6;

  --custom-blue-light: #9cdcfe;

  --custom-yellow: #d7ab4c;

  --custom-white: #e4e4e4;

  --custom-green: #6a9955;

  --bg-body: #1e1e1e;

  --bg-program-bar: #3c3c3c;

  --bg-lateral-menu: #252526;

  --bg-tab: #2d2d2d;

  --bg-light: #585858;

  --bg-nav-hover: #2d2d2d;
}

/* Custom FLEX Styles */
.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-center-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
}

/* Custom Position */
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}

/* Custom Fonts */
h2 {
  color: var(--custom-orange-dark);
}
h3 {
  color: var(--custom-blue-dark);
}
h4 {
  color: var(--custom-yellow);
}
h5 {
  color: var(--custom-blue-light);
}
