.custom-bg-menu {
  width: 250px;
  position: absolute;
  height: 100%;
  background-color: var(--bg-lateral-menu);
}

li {
  margin-bottom: 3vh;
}

ul {
  border-left: 1px solid var(--custom-white);
}
